.container {
    display: flex;
    flex-wrap: true;
}
.text {
    flex: 1 1 auto;
    padding: 0 .5rem;
    height: 100vh;
    overflow-y: scroll;
}
.text-row {
    flex: 1 1 auto;
    text-align: center;
}
.winner {
    position: relative;
    & .person-text-row {
        text-align: center;
        font-size: 15rem;
        line-height: 1;
    }
    & .sub-text-row {
        margin-bottom: .5rem;
        text-align: center;
        font-size: 3rem;
        line-height: 1;
    }
}
.effect {
    position: absolute;
    width: 100%;
    height: calc(100vh);
    top: -10rem;
    left: 0;
    z-index: -1;
    
    &.effect--disabled {
        visibility: hidden;
    }
}
.record {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}
.record-row {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}