.button-row {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.success {
    --mod-button-font-size: 2rem;
    --spectrum-button-background-color-default: hsl(142.1 76.2% 36.3%);
    --spectrum-button-background-color-hover: hsl(142.1 76.2% 36.3%/.9);
    --spectrum-button-background-color-down: hsl(142.1 76.2% 36.3%/.9);
    --spectrum-button-background-color-focus: hsl(142.1 76.2% 36.3%/.9);
    --spectrum-button-border-color-default: hsl(142.1 76.2% 36.3%);
    --spectrum-button-border-color-hover: hsl(142.1 76.2% 36.3%/.9);
    --spectrum-button-border-color-down: hsl(142.1 76.2% 36.3%/.9);
    --spectrum-button-border-color-focus: hsl(142.1 76.2% 36.3%/.9);
    --spectrum-button-content-color-default: hsl(355.7 100% 97.3%);
    --spectrum-button-content-color-hover: hsl(355.7 100% 97.3%/.9);
    --spectrum-button-content-color-down: hsl(355.7 100% 97.3%/.9);
    --spectrum-button-content-color-focus: hsl(355.7 100% 97.3%/.9);
}

.text-row {
    text-align: center;
    font-size: 2rem;
}
.person-text-row {
    text-align: center;
    font-size: 15rem;
    line-height: 1;
}
.sub-text-row {
    margin-bottom: .5rem;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
}
.person-list {
    display: flex;
    flex-wrap: wrap;
    color: hsl(240 10% 3.9%);
    & .person {
        overflow: hidden;
        width: 15rem;
        padding: 0 1rem;
        box-sizing: border-box;
        text-overflow: ellipsis;
    }
}